#app {
    height: 100vh;
}
#header {
    margin: 0;
    background: #884541 url(/img/header.jpg) center/cover;
}
#header > .container {
    display: flex;
    flex-direction: column;
    padding: 3.5rem 0 2.5rem
}
.navbar-laravel {
    background: rgba(0,0,0,0.33);
}
.navbar-light .navbar-nav .nav-link {
    color: white;
    font-size: 20px
}
.navbar-light .navbar-nav .nav-link:hover {
    color: #eeb85a;
    text-decoration: none;
    text-shadow: none;
}

    